{% extends 'TpFdjBundle::layout.html.twig' %}

{% block  body%}
  
    
 <div class="container">
  <div class='row'>
    <div class='col-md-8'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
        <div class="item  active">
           <div class="row">
            {% for illiko in product|slice(0, 4) %}
                <div class="col-md-3">
                    <a href="{{ illiko.href}}"><img alt="" src="{{ asset("images") }}/{{ illiko.img }}"></a>
                </div>
            {% else %}
                 <div class="col-md-12">
                    The fdj products list is empty.
                </div>
            {% endfor %}
           </div>
        </div>
        
        {% if (product|length) > 4 %}
             <div class="item">
                <div class="row">
                    {% for illiko in product|slice(4, (product|length)) %}
                            <div class="col-md-3">
                                <a href="{{ illiko.href}}"><img alt="" src="{{ asset("images") }}/{{ illiko.img }}"></a>
                            </div>
                        {% if loop.index0 != 0 and loop.index0 %4 ==0 %}
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                        {% endif %}   
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <div class="item">
                <div class="row">
                    {% for illiko in product|slice(0, 4) %}
                        <div class="col-md-3">
                            <a href="{{ illiko.href}}"><img alt="" src="{{ asset("images") }}/{{ illiko.img }}"></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
          
         
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>


{% endblock %}